 @font-face {
    font-family: 'MyFont';
    src:  url('./Ariandi.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    background: url('./icon2.png');
    font-family: 'MyFont';
}