<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue Basics Part 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="card.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="triangle.css" />
</head>

<body>
    <div id="vm">
        <krtl-card></krtl-card>
    </div>
    <!-- krtl-card component template -->
    <script type=text/x-template id='krtl-card'>
        <div class='card'>
            <header :style="headerClassObject">{{title}}
                <div class="expander" @click="expanded = !expanded"
                    :class='{expanded: expanded}'><krtl-triangle></krtl-triangle></div>
            </header>
            <template v-if='expanded'>
                <form class="input" @submit.prevent="addItem">
                    <input type="text" id="itemInput" v-model='userInput'>
                    <button>Add dinosaurs</button>
                </form>
                <ul>
                    <li v-for='(dinosaur, index) of items'
                        is="krtl-dynoitem"
                        :text="dinosaur.text"
                        :index="index"
                        :key="dinosaur.id"
                        @delete-dyno="deleteItem($event)">
                    </li>
                </ul>
                <footer>You have {{dynoLength}} dyno{{dynoLength > 1 ? 's' : ''}}</footer>
            </template>
        </div>
    </script>
    <!-- krtl-card component script -->
    <script type="text/javascript" src="components/krtl-card.js"></script>
    <script type="text/javascript" src="components/krtl-triangle.js"></script>
    <script type="text/javascript" src="components/krtl-dynoitem.js"></script>
    <!-- vm initialization -->
    <script>
        const vm = new Vue({
            el: "#vm",
        });
    </script>
</body>

</html>